body .body-container{
  overflow-y: hidden;
  overflow-x: scroll;
}
.custom-shape-divider-bottom-1670009055 svg {
  height: 176px;
}
h1,h2,p{
  cursor: default;
}
.texto-container{
  padding: 45px 100px;
}
.header-container a {
  font-size: 1.5rem;
}
.header-container .header-logo{
  margin-right: 20vw;
  font-size: 3rem;
}
#presentacion{
  align-items: flex-start;
}
.presentation-saludo{
  padding-left: 10vw;
  padding-top: 15vh;
}
.presentation-saludo .title-style{
  font-size: 6rem;
}
.presentation-saludo .contact-button {
  width: 35vw;
}
.curriculum{
  width: 40vw;
  transition: 500ms;
}
.about-botones:hover > :not(:hover){
  opacity: 0;
  /* display: none; */
}
.about-botones{
  transition: all 500ms;
  overflow: hidden;
  justify-content: center;
  width: fit-content;
  align-self: center;
}
.about-botones .contact-button{
  width: 40vw;
}
.contact-button{
  transition: all 500ms;
}
.contact-button:hover{
  background-color: rgba(255, 255, 255, 0.755);
  border: 1px solid var(--black);
  color: black;
  width: 60%;
}
.about-botones .contact-button:hover{
  width: 50vw;
}
.curriculum:hover{
  background-color: var(--black);
  color: white;
  width: 50vw;
}

.title-style{
  font-size: 6rem;
}
.texto-container .parrafo-style{
  font-size: 1.6rem;
}

.subtitle-style{
  font-size: 3.5rem;
}
.desktopcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.medias-container{
  display: flex;
  flex-direction: column;
}
.socialMedia-container{
  margin-left: 10vh;
}
#form-container{
  width: 50vw;
}
.medias-container:hover > :not(:hover){
  opacity: 0.2;
  font-size: 2rem;
}
.medias-container a{
  transition: all 500ms;
}
.send-buton{
  cursor: pointer;
  transition: all 500ms;
}
.send-buton:hover{
  width: 30vw;
}
#message-input{
  height: 90px;
}
.header-logo{
  transition: all 500ms;
}
.header-logo:hover{
  text-shadow: 3px 3px 20px #ffffff,
    -2px 1px 30px #ffffff;
}
/* .header-list:hover > :not(:hover){
  opacity: 0.2;
  font-size: 1.2%;
} */
.header-list a{
  transition: all 500ms;
}
.header-list a:hover{
  font-size: 1.8rem;
}
.sections-containers{
  max-height: 94vh;
}
.deslizame-mensaje{
  position: relative;
  display: flex;
  transition-duration: 800ms;
  flex-direction: row;
  align-items: center;
  /* height: 10vh; */
  top: 2vh;
  left: 0;
}
#raton{
  margin-top: 10px;
  opacity: 0.2;
  height: 33px;
  width: 33px;
}
.deslizame-mensaje p{
  font-weight: 400;
  opacity: 0.5;
}
.services-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 40vh;
}
.services-styles{
  min-width: 25vw;
  max-width: 26vw;
  margin: 0;
}
.arrows-container{
  display: none;
}
.services-container .oculto-style{
  max-width: 65vw;
  left: 17vw;
  top: 11vh;
  max-height: 68vh;
}
.services-styles{
  transition: all 300ms ease-in-out;
}
.services-styles:hover{
  background-color: var(--bg-color);
  color: var(--black);
}
.oculto-style:hover{
  background-color: var(--black);
  color: var(--bg-color);
}
.tecnologias-grid{
  width: 55vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 80px;
}
.services-id .tecnologias-grid{
  grid-template-columns: 1fr 1fr 1fr;
}
