body .body-container{
  overflow-y: hidden;
  overflow-x: scroll;
}

/* ::-webkit-scrollbar{
  width: 1em;
}
.sections-containers{
  position: relative;
  display: block;
  width: 100vw;
} */

.header-container{
  height: 70px;
}
.header-container a {
  font-size: 1.5rem;
}
.header-container .header-logo{
  margin-right: 20vw;
  font-size: 3rem;
}
#presentacion{
  align-items: flex-start;
}
.presentation-saludo{
  padding-left: 10vw;
  padding-top: 6vh;
}
.presentation-saludo .title-style{
  font-size: 6rem;
}
.presentation-saludo .contact-button {
  width: 35vw;
}
.curriculum{
  width: 40vw;
  transition: 500ms;
}
.about-botones:hover > :not(:hover){
  opacity: 0;
  /* display: none; */
}
.about-botones{
  transition: all 500ms;
  overflow: hidden;
  justify-content: center;
  width: fit-content;
  align-self: center;
}
.about-botones .contact-button{
  width: 40vw;
}
.contact-button{
  transition: all 500ms;
}
.contact-button:hover{
  background-color: rgba(255, 255, 255, 0.755);
  border: 1px solid var(--black);
  color: black;
  width: 60%;
}
.about-botones .contact-button:hover{
  width: 50vw;
}
.curriculum:hover{
  background-color: var(--black);
  color: white;
  width: 50vw;
}

.title-style{
  font-size: 6rem;
}
.texto-container .parrafo-style{
  font-size: 1.6rem;
}

.subtitle-style{
  font-size: 3.5rem;
}
.desktopcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.medias-container{
  display: flex;
  flex-direction: column;
}
.socialMedia-container{
  margin-left: 10vh;
}
#form-container{
  width: 50vw;
}
.medias-container:hover > :not(:hover){
  opacity: 0.2;
  font-size: 2rem;
}
.medias-container a{
  transition: all 500ms;
}
.send-buton{
  cursor: pointer;
  transition: all 500ms;
}
.send-buton:hover{
  width: 30vw;
}
#message-input{
  height: 90px;
}
.header-logo{
  transition: all 500ms;
}
.header-logo:hover{
  text-shadow: 3px 3px 20px #ffffff,
    -2px 1px 30px #ffffff;
}
/* .header-list:hover > :not(:hover){
  opacity: 0.2;
  font-size: 1.2%;
} */
.header-list a{
  transition: all 500ms;
}
.header-list a:hover{
  font-size: 1.8rem;
}