:root{
  --bg-color: #DEE2E6;
  --bg-color2: #D9D9D9;
  --black: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.oculto {
  display: none;
}

/* Header */
.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;  
  background-color: var(--black);
  color: white;
}

.header-list {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  margin-left: 20px;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.body-container {
  display: flex;
  padding-top: 70px;
  min-height: calc(100vh - 70px);
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden; /* Correcci칩n: 'none' no existe */
  overflow-x: auto;
  overscroll-behavior-x: contain; 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
}

*::-webkit-scrollbar {
  display: none;
}

.design {
  display: flex;
  flex-direction: column;
}

.sections-containers {
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.107);
  min-width: 100vw;
  scroll-snap-align: center;
  position: relative;
}

/*! Home */
#presentacion {
  scroll-snap-align: center;
}

.presentation-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: calc(100vh - 70px);
}

.presentation-saludo {
  display: flex;
  flex-direction: column;
}

.title-style {
  font-size: 5rem;
  font-weight: bold;
}

.presentation-saludo p {
  margin-top: 13px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #6C757D;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 44px;
  border-radius: 10px;
  color: white;
  background-color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.presentation-container .contact-button {
  margin-top: 30px;
}

.custom-shape-divider-bottom-1670009055 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
  pointer-events: none; /* Importante para que no bloquee clicks */
}

.custom-shape-divider-bottom-1670009055 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 256px;
  z-index: 1;
}

.custom-shape-divider-bottom-1670009055 .shape-fill {
  fill: var(--black);
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1670009055 svg {
      width: calc(138% + 1.3px);
      height: 79px;
  }
}

.foto {
  position: relative;
  z-index: 0;
}

/* ! Sobre Mi */
#about {
  padding-bottom: 80px;
}

.texto-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.texto-container p {
  padding-top: 10px;
  text-align: justify;
  font-size: 1.4rem;
}

.about-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 44px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid var(--black);
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

/* ! Contact */
.socialMedia-container a {
  color: black;
}

#contact .title-style {
  align-self: center;
  margin-bottom: 10px;
}

#form-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #D9D9D9;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input, textarea {
  color: white;
  background-color: var(--black);
  border: 0;
  padding: 10px;
  border-radius: 10px;
}

.input-style {
  width: 42vw;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.87);
}

#message-input {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 150px;
  resize: none;
}

.subtitle-style {
  font-size: 2.5rem;
  font-weight: bold;
}

.send-buton {
  width: 40%;
  background-color: #F8F9FA ;
  color: var(--black);
  padding: 10px;
  align-self: flex-end;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

.medias-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 16px;
  font-weight: 500;
  gap: 5px;
}

.medias-container span {
  margin-right: 10px;
  font-size: 2.5rem;
}

#mensaje-tel {
  transition-duration: 700ms;
  font-weight: 300;
}

/* ! Servicios */
#services {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 0;
  background-color: var(--bg-color);
}

.services-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 35px;
  overscroll-behavior-x: contain; 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.services-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #212529;
  min-width: 60vw;
  min-height: 20vh;
  color: #F8F9FA;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px;
  font-size: 2rem;
  margin: 50px 20vw;
  border-radius: 10px;
  scroll-snap-align: center;
  text-align: center;
  position: relative; /* Contexto para posicionamiento */
}

.services-icon {
  font-size: 3rem;
}

.arrows-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  font-size: 4rem;
  color: var(--black);
  width: 100%;
}

#services p {
  padding: 15px 4vw 0 4vw;
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.6;
}

.arrow-style {
  transition-duration: 350ms;
}

.arrow-style:hover {
  cursor: pointer;
  font-size: 5rem;
}

.service-title {
  padding-top: 24px;
}

/* ! Para javascript - Tarjetas Expandidas */
.dominios-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 100%;
  max-height: 50vh;
  padding-top: 30px;
}

.dominios-container h3 {
  font-weight: 600;
}

.dominios-icon {
  font-size: 3rem;
}

.dominios-container li {
  font-size: 1.6rem;
  font-weight: 300;
}

.ocultar {
  display: none;
}

.tecnologias-container {
  margin: 30px 0;
}

.fa-microsoft {
  font-size: 4rem;
}

.tecnologias-grid {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 60px);
  place-items: center;
  gap: 30px;
  margin: 10px auto;
}

.list-container {
  width: 80%;
  list-style: circle;
  margin-top: 10px;
  margin-left: 10vw;
  text-align: justify;
}

.microsoft, .python {
  font-size: 1.4rem;
}

.python i {
  font-size: 4rem;
}

.separador {
  display: none;
}

.tech-icon-title {
  font-size: 1.4rem;
}

.dominio-title {
  font-size: 2.5rem;
}

/* Estilos de im치genes */
img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.sql-image { height: 60%; }
.post-image { height: 70%; }
.pandas-img { height: 140%; }
.numpy-img { height: 110%; }
.react-img, .tableau-img { height: 80%; }

#presentacion {
  position: relative;
  /* overflow: hidden;  <-- Opcional: descomenta si la imagen se sale de los bordes */
}


/* IMPORTANTE: Elevamos el texto para que quede ENCIMA de la imagen */
.presentation-saludo {
  position: relative;
  z-index: 2; /* Nivel 2 (encima de la imagen) */
}

/* Estilos para tu imagen en el HTML */

.fondo-sketch {
    position: absolute;
    top: 35%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: darken;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, #000000de 20%, black 80%, transparent 100%), linear-gradient(to bottom, transparent 0%, black 20%, #000000f7 80%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, #000000de 20%, black 80%, transparent 100%), linear-gradient(to bottom, transparent 0%, black 20%, #000000f7 80%, transparent 100%);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    transition: opacity 1.5s ease-in-out; /* IMPORTANTE: Esto crea el efecto "fade" suave */
}

/* Clases auxiliares para el estado */
.visible {
    opacity: 0.4 !important; /* Tu valor m치ximo deseado para las im치genes */
}
.invisible {
    opacity: 0 !important;
}

  
#gym {
    top: 20%;}